@charset "UTF-8";
.member_schedule_container {
  max-width: 1920px;
  min-height: calc(100vh - 200px);
}

.member_schedule_container ::-webkit-scrollbar {
  width: 3px;
}

.member_schedule_container ::-webkit-scrollbar-thumb {
  background: #555151;
  border-radius: 2px;
}

.member_schedule_container #member_container {
  background-image: url("../../image/vs_morning.svg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
}

.member_schedule_container #member_container .con_both {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
  /* 左導覽列end */
}

.member_schedule_container #member_container .con_both.con_left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* 左導覽列start */
}

.member_schedule_container #member_container .con_both.con_left .my_img {
  width: 40%;
  cursor: pointer;
  border-radius: 50%;
}

.member_schedule_container #member_container .con_both.con_left .my_img :hover {
  opacity: 0.7;
}

.member_schedule_container #member_container .con_both.con_left #member_hi {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.member_schedule_container #member_container .con_both.con_left #member_hi span span {
  font-size: 2em;
}

.member_schedule_container #member_container .con_both.con_left #member_list {
  background-color: #fff;
  width: 60%;
  text-align: center;
  margin: 30px auto;
}

.member_schedule_container #member_container .con_both.con_left #member_list :nth-child(1) {
  background-color: #81c268;
  border-right: 3px solid #2b9635;
}

.member_schedule_container #member_container .con_both.con_left #member_list div {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.member_schedule_container #member_container .con_both.con_left #member_list div:hover {
  background-color: #81c268;
  border-right: 3px solid #2b9635;
  cursor: pointer;
}

.member_schedule_container #member_container .con_both.con_left #member_logout {
  width: 60%;
  margin: 70px auto;
}

.member_schedule_container #member_container .con_both.con_left #member_logout div {
  width: 35%;
  padding: 5px;
  float: left;
  text-align: center;
  background-color: #555151;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.member_schedule_container #member_container .con_both.con_right {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin-left: 20px;
  /* 現在位置start */
  /* 現在位置end */
}

.member_schedule_container #member_container .con_both.con_right #now_location {
  margin-top: 4%;
  text-align: left;
}

.member_schedule_container #member_container .con_both.con_right #now_location span {
  display: inline-block;
  margin: 10px;
}

.member_schedule_container #member_container .con_both.con_right .top_title {
  height: 10%;
  margin-bottom: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member_schedule_container #member_container .con_both.con_right .top_title .days {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member_schedule_container #member_container .con_both.con_right .top_title .day1 {
  height: 100%;
  width: 45%;
  background-color: #747474;
  color: #fff;
  border-radius: 3px;
  border: 1px #555151 solid;
  line-height: 225%;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.member_schedule_container #member_container .con_both.con_right .top_title .day2 {
  height: 100%;
  width: 45%;
  background-color: #fff;
  color: #747474;
  border: 1px #555151 solid;
  border-radius: 5px;
  line-height: 225%;
  text-align: center;
  cursor: pointer;
}

.member_schedule_container #member_container .con_both.con_right .top_title .my_pdf {
  float: right;
  background-color: #cac6c6;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
}

.member_schedule_container #member_container .con_both.con_right .my_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  text-align: center;
  height: 50px;
  margin-bottom: 0;
  line-height: 50px;
}

.member_schedule_container #member_container .con_both.con_right .my_title :first-child {
  width: 10%;
  background-color: #fff;
}

.member_schedule_container #member_container .con_both.con_right .my_title :nth-child(n + 2) {
  width: 30%;
}

.member_schedule_container #member_container .con_both.con_right .my_title :nth-child(even) {
  background-color: #cac6c6;
}

.member_schedule_container #member_container .con_both.con_right .my_title :nth-child(3) {
  background-color: lightgray;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart {
  height: 55%;
  width: 90%;
  background-color: #ffffff;
  overflow-y: scroll;
  margin-top: 0;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart > :nth-child(odd) {
  background-color: #cac6c6;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart > div {
  height: 40px;
  padding: 10px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart > div :first-child {
  width: 10%;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart > div :nth-child(n + 2) {
  width: 30%;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart > :first-child {
  height: 10px;
  background-color: #fff;
}

.member_schedule_container #member_container .con_both.con_right .schedule_chart.chart02 {
  display: none;
}
/*# sourceMappingURL=MemberSchedule.css.map */