.camp_site_picker_container {
  position: relative;
  width: 100%;
  font-family: "Noto Sans";
}

.camp_site_picker_container .pale_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.camp_site_picker_container .camp_site_picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper {
  position: relative;
  width: 1200px;
  height: 700px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_title {
  height: 30px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e2e2e2;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_list .each_camp_ticket {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_list .each_camp_ticket .camp_name {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #666;
  padding: 5px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_list .each_camp_ticket .camp_site {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #666;
  padding: 5px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_list .each_camp_ticket .check_icon {
  width: 16px;
  height: 16px;
  background-image: url("./../../image/check.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px;
  -webkit-filter: invert(86%) sepia(35%) saturate(6287%) hue-rotate(68deg) brightness(93%) contrast(84%);
          filter: invert(86%) sepia(35%) saturate(6287%) hue-rotate(68deg) brightness(93%) contrast(84%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: hidden;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .to_be_select .select_list .each_camp_ticket .check_icon.show_check {
  display: block;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_bg_map {
  width: 100%;
  height: 100%;
  background-image: url("./../../image/campmap.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_bg_map.camp_map_blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0.8;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .stage {
  background-image: url("./../../image/show.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 83px;
  height: 89px;
  position: absolute;
  left: 481px;
  top: 200px;
  z-index: 3;
  pointer-events: none;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .stage.stage_blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0.8;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp {
  width: 170px;
  height: 128px;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.area_blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0.8;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.camp_A {
  background-image: url("./../../image/A_CAMP.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 396px;
  top: 167px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.camp_A:hover {
  background-image: url("./../../image/A_CAMP_2.png");
  left: 396px;
  top: 160px;
  height: 135px;
  cursor: pointer;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.camp_B {
  background-image: url("./../../image/B_CAMP.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 132px;
  bottom: 153px;
  right: 295px;
  z-index: 4;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.camp_B:hover {
  background-image: url("./../../image/B_CAMP_2.png");
  bottom: 153px;
  right: 295px;
  width: 200px;
  height: 139px;
  cursor: pointer;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.camp_C {
  background-image: url("./../../image/C_CAMP.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 162px;
  height: 88px;
  right: 174px;
  bottom: 235px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .camp.camp_C:hover {
  background-image: url("./../../image/C_CAMP_2.png");
  width: 162px;
  height: 100px;
  right: 174px;
  bottom: 228px;
  cursor: pointer;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .tree {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .tree.tree_blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0.8;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .tree.tree_one {
  background-image: url("./../../image/tree.png");
  width: 85px;
  height: 107px;
  bottom: 207px;
  right: 141px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .tree.tree_two {
  background-image: url("./../../image/tree2.png");
  width: 23px;
  height: 28px;
  bottom: 223px;
  right: 221px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .tree.tree_three {
  background-image: url("./../../image/tree3.png");
  width: 32px;
  height: 40px;
  bottom: 277px;
  right: 304px;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line.pointer_line_blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0.8;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line .item {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line .item.camp_title {
  width: 123px;
  height: 50px;
  right: 265px;
  top: 45px;
  font-size: 36px;
  color: #888;
  font-weight: 500;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line .item.line_and_circle {
  position: absolute;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line .item.line_and_circle.line_one {
  right: 419px;
  top: 84px;
  width: 280px;
  height: 100px;
  background-image: url("./../../image/line_one.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line .item.line_and_circle.line_two {
  width: 43px;
  height: 294px;
  position: absolute;
  right: 365px;
  bottom: 303px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-image: url("./../../image/line_two.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_detail_cover .pointer_line .item.line_and_circle.line_three {
  width: 49px;
  height: 244px;
  position: absolute;
  right: 270px;
  top: 115px;
  background-image: url("./../../image/line_three.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area.camp_area_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group.camp_group_show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper {
  width: 400px;
  position: relative;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_name {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .close_icon {
  width: 16px;
  height: 16px;
  background-image: url("./../../image/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 30px;
  top: 12px;
  cursor: pointer;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp {
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: #e7e4cb;
  position: relative;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp.selected {
  background-color: #ffca56;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp.selected:hover {
  background-color: #ffca56;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp.disabled {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  pointer-events: none;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp.finished {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  pointer-events: none;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp:hover {
  background-color: #e2e2e2;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp .camp_id {
  line-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp .camp_type {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 0 10px 0;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp .camp_type.budget {
  background-image: url("./../../image/campA.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .pick_wrapper .camp_area_site .each_camp .camp_type.fancy {
  background-image: url("./../../image/campB.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .camp_island {
  width: 160px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  margin: 30px 50px 0 0;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .camp_island.island_A {
  background-image: url("./../../image/A_CAMP_2.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .camp_island.island_B {
  background-image: url("./../../image/B_CAMP_2.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .camp_area .camp_group .camp_island.island_C {
  background-image: url("./../../image/C_CAMP_2.png");
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .confirm_btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 120px;
  width: 100%;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 15;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .confirm_btn_area.finished {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .confirm_btn_area.finished .confirm_btn {
  -webkit-animation: btnPulse 1.7s ease-in-out infinite;
          animation: btnPulse 1.7s ease-in-out infinite;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .confirm_btn_area .confirm_btn {
  height: 40px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
}

.camp_site_picker_container .camp_site_picker .camp_map_wrapper .confirm_btn_area .confirm_btn:hover {
  background-color: #555;
}

@media screen and (min-width: 640px) and (max-width: 1920px) {
  .camp_site_picker_container.camp_site_picker_container {
    -webkit-transform: scale(calc(var(--main-width) / 1920));
            transform: scale(calc(var(--main-width) / 1920));
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@-webkit-keyframes btnPulse {
  0% {
    -webkit-transform: scale(1.02) translateY(0);
            transform: scale(1.02) translateY(0);
  }
  50% {
    -webkit-transform: scale(1.08) translateY(0);
            transform: scale(1.08) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.02) translateY(0);
            transform: scale(1.02) translateY(0);
  }
}

@keyframes btnPulse {
  0% {
    -webkit-transform: scale(1.02) translateY(0);
            transform: scale(1.02) translateY(0);
  }
  50% {
    -webkit-transform: scale(1.08) translateY(0);
            transform: scale(1.08) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.02) translateY(0);
            transform: scale(1.02) translateY(0);
  }
}
/*# sourceMappingURL=CampSitePicker.css.map */